<p>All the pizzas!</p>
<% @orders.each do |order| %>
  <p>Name: <%=order.pretty_name() %></p>
  <p>Order: <%= order.quantity %> x <%= order.topping() %> </p>
  <p><a href="/pizza_orders/<%= order.id%>">Show Order</a></p>
  <p>
    <form method="post" action="/pizza_orders/<%= order.id %>/delete">
      <button>Delete Pizza Order</button>
    </form>
  </p>
  <hr/>
<% end %>
